		  <div class="card-body">
        <% if banner.errors.full_messages.any? %>
          <% banner.errors.full_messages.each do |error_message| %>
          <div class="alert alert-danger" role="alert"><%= error_message%> <br /></div>
          <% end %>
        <% end %>
        <%= form_for(banner, url: url) do |f| %>
            <div class="form-group">
              <%= f.label :title %><br />
              <%= f.text_field :title, autofocus: true, autocomplete: "email", class:"full-width" %>
            </div>
            <div class="form-group">
              <%= f.label :category %><br />
              <%= f.select :category_id, Category.all.map{ |c| [c.name, c.id] }, { include_blank: 'Please Choose Category' }, { class:"full-width" } %>
            </div>            
            <div class="form-group">
              <%= f.label :url %><br />
              <%= f.text_field :url, class:"full-width" %>
            </div>
            <div class="form-group">
              <%= f.check_box :use_url %> <%= f.label :use_url %>
            </div>
            <div class="form-group">
              <%= f.label :image_banner %><br />
              <%= f.file_field :image_banner, autofocus: true, autocomplete: "email", class:"full-width"  %>
            </div>
            <div class="form-group">
              <%= f.label :image_alt %><br />
              <%= f.text_field :image_alt, class:"full-width" %>
            </div>            
            <div class="form-group">
              <%= f.label :article %><br />
              <%= f.select :article_id, Article.all.map{ |c| [c.title, c.id] }, { include_blank: 'Please Choose Article' }, { class:"full-width" } %>
            </div>             
            <%= f.submit "SUBMIT", class: 'submit btn btn--primary btn--large full-width' %>
          <% end %>
        </div>
  	  </div>