<%= render 'admins/layout/header' %>
<%= render 'admins/layout/sidebar' %>
<div class="admin-main">
  <div class="container">
  	<div class="row">
  	  <div class="col-md-12">
  	  	<div class="card border-primary mt-5">
		  <div class="card-header bg-primary">
		    <h3 class="text-white">NEW CATEGORIES</h3>
		  </div>  	  		
		  <div class="card-body">
        <%= form_for(:category, url: admins_categories_path) do |f| %>
            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "email", class:"full-width"  %>
            </div>
            <%= f.submit "CREATE CATEGORIES", class: 'submit btn btn--primary btn--large full-width' %>
          <% end %>
        </div>
  	  </div>
  	</div>
  </div>
</div>