<%= render 'admins/layout/header' %>
<%= render 'admins/layout/sidebar' %>
<div class="admin-main">
  <div class="container-fluid">
  	<div class="row">
  	  <div class="col-md-12">
  	  	<div class="card border-primary mt-5">
		  <div class="card-header bg-primary">
		    <h3 class="text-white">ARTICLE</h3>
		  </div>  	  		
		  <div class="card-body"> 
        <%= link_to 'NEW ARTICLE', new_admins_article_path, class: 'btn btn-primary pull-right' %>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">TITLE</th>
              <th scope="col">CATEGORY</th>
              <th scope="col">IMAGE HEADER</th>
              <th scope="col">IMAGE ARTICLE</th>
              <th scope="col">PUBLICH DATE</th>
              <th scope="col">EDIT</th>
              <th scope="col">DELETE</th>
            </tr>
          </thead>
          <tbody>
            <% @articles.each_with_index do |article, index|%>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= article.title %></td>
                <td><%= article.category.name %></td>
                <td><%= image_tag(article.image_header.url, alt: article.title) if article.image_header? %></td>
                <td><%= image_tag(article.image_article.url, alt: article.title) if article.image_article? %></td>
                <td><%= article.publish_date.strftime("%F") %></td>
                <td><%= link_to content_tag(:i, '', class: 'fas fa-edit'), edit_admins_article_path(article.id), class: 'text-success' %></td>
                <td><%= link_to content_tag(:i, '', class: 'fa fa-trash'), admins_article_path(article.id), method: :delete, data: {confirm: 'Are You Sure'}, class: 'text-danger' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  	  </div>
  	</div>
  </div>
</div>