<!DOCTYPE html>
<html>
  <head>
    <title>Andy1dx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="top">
    <%= yield %>
    <%= javascript_include_tag('template/plugins.js');  %>
    <%= javascript_include_tag('template/main.js');  %>
  </body>
</html>
